*,*:before,*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width: 766px) {
    .container {
        max-width: none;
    }
}

.header {
    background-color: #2c2f33;
}
.header__row {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
}
.header__menu { }

.menu { }
.menu__body { }

.menu__list {
    display: flex;
}
.menu__list li {
    list-style: none;
    margin: 0px 0px 0px 15px;
}

.menu__list_link {
    width: 100px;
    color: #99aab5;
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.content {
    flex: 1 1 auto;
    padding: 30px;
    color: #2c2f33;
    background-color: #99aab5;
}

.logo-row {
    display: flex;
	justify-content: space-between;
	height: 120px;
	align-items: center;
    margin: 0px 0px 40px 0px;
}
.logo-row__img {
    width: 130px;
	height: 130px;
    border-radius: 50%;
    background: url(assets/img/user.jpg) no-repeat;
    background-size: 150px auto;
}
.logo-row__title {
    font-size: 50px;
	margin: 0px 0px 10px 0px;
}

.content-block {
    margin: 0px 0px 15px 0px;
}
.content-block__row {
    display: flex;
    margin: 0px -15px;
}
@media (max-width:767px){
	.content-block__row {
		flex-wrap: wrap;
	}
}
.content-block__column {
    flex: 0 1 50%;
    padding: 0px 15px;
    margin: 0px 0px 15px 0px;
}
@media (max-width:767px){
	.content-block__column {
		flex: 0 1 100%;
	}
}
.content-block__item {
    padding: 15px;
}
.content-block__title {
    margin-bottom: 10px;
}
.content-block__text { }
.content-block__text li {
    list-style: none;
}

.social-menu__link {
    text-decoration: none;
    color: #2c2f33;
}

.footer {
    background-color: #2c2f33;
    padding: 15px 0px;
}
.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__item {
    height: 20px;
    width: auto;
}
.footer__item a {
    color: #99aab5;
    text-decoration: none;
}
.rss-logo {
    width: 120px;
	height: 45px;
    background: url(https://rs.school/images/rs_school_js.svg) no-repeat;
    background-size: contain;
}