*,*:before,*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width: 766px) {
    .container {
        max-width: none;
    }
}

.header {
    background-color: blue;
}
.header__row {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__menu { }

.menu { }
.menu__body { }

.menu__list {
    display: flex;
}
.menu__list li {
    list-style: none;
    margin: 0px 0px 0px 15px;
}

.menu__list_link {
    height: 20px;
    width: 100%;
    background-color: #fff;
    display: block;
}
.content {
    flex: 1 1 auto;
}

.logo-row { }
.header__logo { }
.logo-row__title { }

.content-block {
    margin: 0px 0px 15px 0px;
}
.content-block__row {
    display: flex;
    margin: 0px -15px;
}
@media (max-width:767px){
	.content-block__row {
		flex-wrap: wrap;
	}
}
.content-block__column {
    flex: 0 1 50%;
    padding: 0px 15px;
    margin: 0px 0px 15px 0px;
}
@media (max-width:767px){
	.content-block__column {
		flex: 0 1 100%;
	}
}
.content-block__item {
    background-color: blanchedalmond;
    padding: 15px;
}
.content-block__title { }
.content-block__text { }

.footer {
    background-color: chocolate;
    text-align: center;
    padding: 15px 0px;
}
.footer__row {
    display: flex;
    justify-content: space-between;
}
.footer__item {
    height: 20px;
    width: 100px;
    display: inline-block;
    background-color: cornsilk;
}
